In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import pathlib

In [2]:
flights_1 = pd.read_csv('data/flight_destinations/flights_2019_1.csv')

In [6]:
flights_1_cleaned = flights_1.drop(columns='Unnamed: 9')

In [7]:
flights_1_cleaned

,YEAR,QUARTER,ORIGIN,ORIGIN_COUNTRY,ORIGIN_STATE_ABR,DEST,DEST_COUNTRY,DEST_STATE_ABR,OPERATING_CARRIER
0,2019,1,LAX,US,CA,OGG,US,HI,AS
1,2019,1,SEA,US,WA,TPA,US,FL,AS
2,2019,1,MSP,US,MN,SAN,US,CA,DL
3,2019,1,SEA,US,WA,ATL,US,GA,DL
4,2019,1,MSP,US,MN,BDL,US,CT,9E
...,...,...,...,...,...,...,...,...,...
9846811,2019,1,SLC,US,UT,DEN,US,CO,F9
9846812,2019,1,AUS,US,TX,SAT,US,TX,--
9846813,2019,1,DEN,US,CO,ORD,US,IL,F9
9846814,2019,1,MCO,US,FL,AUS,US,TX,F9
9846815,2019,1,MCO,US,FL,DEN,US,CO,F9

In [10]:
flights_2 = pd.read_csv('data/flight_destinations/flights_2019_2.csv') 
flights_2_cleaned = flights_2.drop(columns='Unnamed: 9')
flights_2_cleaned

,YEAR,QUARTER,ORIGIN,ORIGIN_COUNTRY,ORIGIN_STATE_ABR,DEST,DEST_COUNTRY,DEST_STATE_ABR,OPERATING_CARRIER
0,2019,2,LAX,US,CA,PHX,US,AZ,OO
1,2019,2,DEN,US,CO,SLC,US,UT,UA
2,2019,2,DEN,US,CO,SLC,US,UT,OO
3,2019,2,DEN,US,CO,SLC,US,UT,G7
4,2019,2,PHX,US,AZ,SNA,US,CA,WN
...,...,...,...,...,...,...,...,...,...
11355392,2019,2,BWI,US,MD,OKC,US,OK,WN
11355393,2019,2,BWI,US,MD,ORF,US,VA,WN
11355394,2019,2,BWI,US,MD,PBI,US,FL,WN
11355395,2019,2,BWI,US,MD,PHX,US,AZ,WN
11355396,2019,2,BWI,US,MD,PVD,US,RI,WN

In [11]:
flights_3 = pd.read_csv('data/flight_destinations/flights_2019_3.csv') 
flights_3_cleaned = flights_3.drop(columns='Unnamed: 9')
flights_3_cleaned

,YEAR,QUARTER,ORIGIN,ORIGIN_COUNTRY,ORIGIN_STATE_ABR,DEST,DEST_COUNTRY,DEST_STATE_ABR,OPERATING_CARRIER
0,2019,3,MSP,US,MN,DLH,US,MN,OO
1,2019,3,ORD,US,IL,SBN,US,IN,OO
2,2019,3,SEA,US,WA,SBP,US,CA,QX
3,2019,3,IAH,US,TX,ECP,US,FL,EV
4,2019,3,LAX,US,CA,JFK,US,NY,DL
...,...,...,...,...,...,...,...,...,...
10949352,2019,3,ATL,US,GA,BUF,US,NY,DL
10949353,2019,3,ATL,US,GA,BUF,US,NY,DL
10949354,2019,3,ATL,US,GA,DEN,US,CO,DL
10949355,2019,3,ATL,US,GA,DFW,US,TX,DL
10949356,2019,3,ATL,US,GA,FLL,US,FL,DL

In [12]:
flights_4 = pd.read_csv('data/flight_destinations/flights_2019_3.csv') 
flights_4_cleaned = flights_4.drop(columns='Unnamed: 9')
flights_4_cleaned

,YEAR,QUARTER,ORIGIN,ORIGIN_COUNTRY,ORIGIN_STATE_ABR,DEST,DEST_COUNTRY,DEST_STATE_ABR,OPERATING_CARRIER
0,2019,3,MSP,US,MN,DLH,US,MN,OO
1,2019,3,ORD,US,IL,SBN,US,IN,OO
2,2019,3,SEA,US,WA,SBP,US,CA,QX
3,2019,3,IAH,US,TX,ECP,US,FL,EV
4,2019,3,LAX,US,CA,JFK,US,NY,DL
...,...,...,...,...,...,...,...,...,...
10949352,2019,3,ATL,US,GA,BUF,US,NY,DL
10949353,2019,3,ATL,US,GA,BUF,US,NY,DL
10949354,2019,3,ATL,US,GA,DEN,US,CO,DL
10949355,2019,3,ATL,US,GA,DFW,US,TX,DL
10949356,2019,3,ATL,US,GA,FLL,US,FL,DL