In [5]:
import pandas as pd
import csv
import pathlib

csvpath = pathlib.Path('AirlineRankingbyProfit.csv')

arline_ranking_data = pd.read_csv(csvpath)

In [6]:
#ranking of airlines by profit
arline_ranking_data

,Rank,Airline,Code,Operating Revenue ($000),Percent of Total (%),Operating Profit/Loss ($000),Operating Margin (%),Scheduled Passenger Revenue ($000),Scheduled Passenger Revenue (Fares) as Percent of Total Operating Revenue (%)
0,1,Delta Air Lines,DL,"47,126,335",24.0,"6,558,789",13.9,"32,847,935",69.7
1,2,American Airlines,AA,"45,761,125",23.3,"3,046,767",6.7,"31,444,610",68.7
2,3,United Airlines,UA,"43,258,541",22.0,"4,303,550",9.9,"30,268,966",70.0
3,4,Southwest Airlines,WN,"22,427,753",11.4,"2,957,193",13.2,"19,910,646",88.8
4,5,Alaska Airlines,AS,"8,774,664",4.5,"1,037,708",11.8,"6,302,527",71.8
5,6,JetBlue Airways,B6,"8,094,008",4.1,"804,249",9.9,"7,183,432",88.7
6,7,Spirit Air Lines,NK,"3,830,536",2.0,"501,049",13.1,"2,123,736",55.4
7,8,SkyWest Airlines,OO,"2,910,753",1.5,"264,052",9.1,"2,747,624",94.4
8,9,Hawaiian Airlines,HA,"2,830,131",1.4,"344,185",12.2,"2,429,691",85.9
9,10,Frontier Airlines,F9,"2,508,349",1.3,"308,458",12.3,"1,365,673",54.4
10,11,Allegiant Air,G4,"1,745,985",0.9,"334,115",19.1,"1,200,410",68.8
11,12,Envoy Air,MQ,"1,385,341",0.7,"11,930",0.9,"1,384,842",100.0
12,13,Republic Airways,YX,"1,349,429",0.7,"160,240",11.9,"1,328,371",98.4
13,14,PSA Airlines,OH,"813,871",0.4,"-8,048",-1.0,"813,869",100.0
14,15,Mesa Airlines,YV,"729,236",0.4,"116,866",16.0,"729,236",100.0
15,16,Sun Country Airlines,SY,"701,383",0.4,"78,123",11.1,"432,610",61.7
16,17,Endeavor Air,9E,"653,164",0.3,"-63,646",-9.7,"653,164",100.0
17,18,Horizon Air,QX,"450,969",0.2,"66,298",14.7,"449,928",99.8
18,19,ExpressJet Airlines,EV,"369,401",0.2,"-80,882",-21.9,"369,401",100.0
19,20,GoJet Airlines,G7,"265,164",0.1,"34,168",12.9,"265,155",100.0
20,21,Compass Airlines,CP,"228,479",0.1,"-6,788",-3.0,"228,460",100.0

In [7]:
arline_ranking_data.fillna(0, inplace = True)

In [11]:
review = arline_ranking_data[['Rank','Airline', 'Code','Operating Revenue ($000)']]

In [12]:
review

    Rank               Airline Code Operating Revenue ($000)
0      1       Delta Air Lines   DL               47,126,335
1      2     American Airlines   AA               45,761,125
2      3       United Airlines   UA               43,258,541
3      4    Southwest Airlines   WN               22,427,753
4      5       Alaska Airlines   AS                8,774,664
5      6       JetBlue Airways   B6                8,094,008
6      7      Spirit Air Lines   NK                3,830,536
7      8      SkyWest Airlines   OO                2,910,753
8      9     Hawaiian Airlines   HA                2,830,131
9     10     Frontier Airlines   F9                2,508,349
10    11         Allegiant Air   G4                1,745,985
11    12             Envoy Air   MQ                1,385,341
12    13      Republic Airways   YX                1,349,429
13    14          PSA Airlines   OH                  813,871
14    15         Mesa Airlines   YV                  729,236
15    16  Sun Country Airlines   SY                  701,383
16    17          Endeavor Air   9E                  653,164
17    18           Horizon Air   QX                  450,969
18    19   ExpressJet Airlines   EV                  369,401
19    20        GoJet Airlines   G7                  265,164
20    21      Compass Airlines   CP                  228,479

In [13]:
#top 5 airlines by profit
review.head()

   Rank             Airline Code Operating Revenue ($000)
0     1     Delta Air Lines   DL               47,126,335
1     2   American Airlines   AA               45,761,125
2     3     United Airlines   UA               43,258,541
3     4  Southwest Airlines   WN               22,427,753
4     5     Alaska Airlines   AS                8,774,664